<%- include("../includes/header.ejs", {title: "Update " + crag[0].crag_name}); %>

<h1>Update <%= crag[0].crag_name%></h1>
<form action="/crag/update" method="get">
    <input type="hidden" id="cr_num" name="cr_num" value="<%= crag[0].cr_num %>">
    Crag Name: <input id="crag_name" name="crag_name" type="text" value="<%= crag[0].crag_name%>"/>
    <br />
    Location: <input id="location" name="location" type="text" value="<%= crag[0].location%>"/>
    <br />
    Climbing Type: <input id="cr_cli_type" name="cr_cli_type" type="text" value="<%= crag[0].cr_cli_type%>"/>

    <br />

    <input type="submit" />
</form>

<a href="/crag/?cr_num=<%= crag[0].cr_num%>">Back to <%= crag[0].crag_name%> Overview</a>

<%- include("../includes/footer.ejs"); %>

</html>