<%- include("../includes/header.ejs", {title:"Add New Crag for " + climbing_area[0].area_name }); %>
<h1>Add New Crag for <%= climbing_area[0].area_name %></h1>
<form action="/crag/insert" method="get">
    <input type="hidden" id="ca_num" name="ca_num" value="<%= climbing_area[0].ca_num %>">
    Crag Name: <input id="crag_name" name="crag_name" type="text" />
    <br />
    Location: <input id="location" name="location" type="text" />
    <br />
    Climbing Type: <input id="cr_cli_type" name="cr_cli_type" type="text" />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>