<%- include("../includes/header.ejs", {title:"Add New Route"}); %>
<h1>Add New Route</h1>
<form action="/crag/addRoute/" method="get">
    <input type="hidden" id="cr_num" name="cr_num" value="<%= result[0].cr_num %>">
    <h2>Select a route-type first.</h2>
    <br />
    <select id="route_type" name="route_type" >
        <option value="1">Sport Lead</option>
        <option value="2">Boulder</option>
        <option value="3">Trad Lead</option>
    </select>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>