<%- include("../includes/header.ejs", {title:"trad[0].t_name"}); %>
<h1>Trad Lead Route: <%= trad[0].t_name %></h1>
<ul>
    <li>Route Name: <%= trad[0].t_name %></li>
    <li>Grade: <%= trad[0].t_grade %></li>
    <li>Rating: <%= trad[0].t_rating %></li>
    <li>Summary: <%= trad[0].t_summary %></li>
    <li>Method of Descent: <%= trad[0].descent %></li>
    <li>Number of pitches: <%= trad[0].num_pitches %></li>
    <li>Permanent Safety: <%= trad[0].safety %></li>
    <li>Additional Risk: <%= trad[0].t_risk %></li>
    <li>Find this route at <%= trad[0].crag_name %>, <%= trad[0].area_name %> </li>
</ul>

<a href="/climber/climberSelected/?clr_num=<%= climber[0].clr_num %>"><< back</a>

<%- include("../includes/footer.ejs"); %>