<%- include("../includes/header.ejs", {title: "Update " + climber[0].f_name + climber[0].l_name }); %>

<h1> <%= climber[0].f_name%> <%= climber[0].l_name %> : Add Climbs</h1>
<form action="/climber/climbAdd" method="get">
    <input type="hidden" id="clr_num" name="clr_num" value="<%= climber[0].clr_num %>">
    <select id="s_num" name="s_num" multiple="multiple" >
        <% for(var i=0; sport.length > i; i++ ) {
            var selected = "";

            if(sport[i].clr_num != null) {
                selected = "selected";
            }
        %>
        <option value="<%= sport[i].s_num %>" <%= selected %> > <%= sport[i].s_name %> | <%= sport[i].s_grade %> | <%= sport[i].crag_name %> | <%=sport[i].area_name %> </option>
        <% } %>
    </select>
    <br/>
    <br/>
    <select id="b_num" name="b_num" multiple="multiple">
        <% for(var i=0; boulder.length > i; i++ ) {
            var selected = "";

            if(boulder[i].clr_num != null) {
                selected = "selected";
            }
        %>
        <option value="<%= boulder[i].b_num %>" <%= selected %> > <%= boulder[i].b_name %> | <%= boulder[i].b_grade %> | <%= boulder[i].crag_name %> | <%= boulder[i].area_name %> </option>
        <% } %>
    </select>
    <br/>
    <br/>
    <select id="t_num" name="t_num" multiple="multiple">
        <% for(var i=0; trad.length > i; i++ ) {
            var selected = "";

            if(trad[i].clr_num != null) {
                selected = "selected";
            }
        %>
        <option value="<%= trad[i].t_num %>" <%= selected %> > <%= trad[i].t_name %> | <%= trad[i].t_grade %> | <%= trad[i].crag_name %> | <%= trad[i].area_name %> </option>
        <% } %>
    </select>
    <br/>
    <br/>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#s_num').multiselect();
            $('#b_num').multiselect();
            $('#t_num').multiselect();
        });
    </script>

    <input type="submit" />
</form>

<a href="/climber/climberSelected/?clr_num=<%= climber[0].clr_num%>">Back to <%= climber[0].f_name %> <%= climber[0].l_name %>'s homepage.</a>

<%- include("../includes/footer.ejs"); %>

</html>