<%- include("../includes/header.ejs", {title:"Select a climber"}); %>
<h1>Climber Check-in</h1>
<form action="/climber/climberSelected/" method="get">
    <h2>Select a climber.</h2>
    <br />
    <select id="clr_num" name="clr_num" >
        <% for(var i=0; climber.length > i; i++ ) { %>
        <option value="<%= climber[i].clr_num %>"><%= climber[i].l_name + ', ' + climber[i].f_name %></option>
        <% } %>
    </select>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>