<%- include("../includes/header.ejs", {title:"sport[0].s_name"}); %>
<h1>Sport Lead Route: <%= sport[0].s_name %></h1>
<ul>
    <li>Route Name: <%= sport[0].s_name %></li>
    <li>Grade: <%= sport[0].s_grade %></li>
    <li>Rating: <%= sport[0].s_rating %></li>
    <li>Summary: <%= sport[0].s_summary %></li>
    <li>Number of bolts: <%= sport[0].num_bolts %></li>
    <li>Additional Risk: <%= sport[0].s_risk %></li>
    <li>Find this route at <%= sport[0].crag_name %>, <%= sport[0].area_name %> </li>
</ul>

<a href="/climber/climberSelected/?clr_num=<%= climber[0].clr_num %>"><< back</a>

<%- include("../includes/footer.ejs"); %>