<%- include("../includes/header.ejs", {title: climber[0].f_name + " " + climber[0].l_name }); %>
<h1><%= climber[0].f_name %> <%= climber[0].l_name %>'s Home Page</h1>
<br />
<h4>About me:</h4>
<ul>
    <li>Email: <%= climber[0].email %></li>
    <li>Favorite Climb: <%= climber[0].fav_climb %> </li>
</ul>
<a href="/climber/edit/?clr_num=<%= climber[0].clr_num %>">Edit info</a>
<br/>
<p>To learn more about a route click on its name.</p>
<% if (sport[0].s_num != null) { %>
My Sport Routes
<table border="1">
    <tr><th>Name </th><th>Grade </th></tr>
    <% for(var i=0; sport.length > i; i++ ) { %>
    <tr>
        <td><a href="/climber/selectSport/?s_num=<%= sport[i].s_num %>&clr_num=<%= climber[0].clr_num%>"> <%= sport[i].s_name %> </a></td>
        <td> <%=sport[i].s_grade%> </td>
    </tr>
    <% } %>
</table>
<% } %>

<br/>
<% if ( boulder[0].b_num != null) { %>
My Boulder Climbs
<table border="1">
    <tr><th>Name </th><th>Grade </th></tr>
    <% for(var i=0; boulder.length > i; i++ ) { %>
    <tr>
        <td><a href="/climber/selectBoulder/?b_num=<%= boulder[i].b_num %>&clr_num=<%= climber[0].clr_num%>"> <%= boulder[i].b_name %> </a></td>
        <td> <%=boulder[i].b_grade%> </td>
    </tr>
    <% } %>
</table>
<% } %>
<br/>
<%if (trad[0].t_num != null ) { %>
My Trad Climbs
<table border="1">
    <tr><th>Name </th><th>Grade </th></tr>
    <% for(var i=0; trad.length > i; i++ ) { %>
    <tr>
        <td><a href="/climber/selectTrad/?t_num=<%= trad[i].t_num %>&clr_num=<%= climber[0].clr_num%>"> <%= trad[i].t_name %> </a></td>
        <td> <%=trad[i].t_grade%> </td>
    </tr>
    <% } %>
</table>
<% } %>
<a href="/climber/addClimbs/?clr_num=<%= climber[0].clr_num%>">Climbed some new stuff? Add it here.</a>
<br/>
<br/>
<form action="/climber/seeOther" method="get">
    <input type="hidden" id="clr_num" name="clr_num" value="<%= climber[0].clr_num %>" />
    See other climbers who have climbed at least <input id="num" name="num" type="number" /> routes.
    <input type="submit" />
</form>
<br/>
<a href="/climber/delete/?clr_num=<%=climber[0].clr_num%>">Delete Profile</a>
<br/>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>