<%- include("../includes/header.ejs", {title:"Climbing Area: " + climbing_area[0].area_name}); %>

<h1>Climbing Area: <%= climbing_area[0].area_name%></h1>
<a href="/crag/add/?ca_num=<%=climbing_area[0].ca_num%>">You're favorite crag isn't included? Add it here.</a> <br />
<br />
<br />
<a href="/climbing_area/edit/?ca_num=<%=climbing_area[0].ca_num%>">Something not right? Change it here.</a>
<br />
<h2>About this area.</h2>
<ul>
    <li>Climbing type(s) found here: <%= climbing_area[0].ca_cli_type %></li>
    <li>Approach Difficulty: <%= climbing_area[0].approach_diff %> </li>
    <li>Address: <%= climbing_area[0].address %></li>
    <li>Closest City: <%= climbing_area[0].city_name %></li>
</ul>
<h2>To learn more about a crag, click on it.</h2>
<br />
<table border="1">
    <tr><th>Crags in this area.</th><th> Sport Rating </th><th> Boulder Rating </th><th> Trad Rating </th></tr>
    <% for(var i=0; crag.length > i; i++ ) { %>
    <tr>
        <td><a href="/crag/?cr_num=<%= crag[i].cr_num %>"><%= crag[i].crag_name %></a></td>
        <% if (crag[i].sport_rating == null) { %>
            <td> N/A </td>
        <% } else { %>
            <td> <%= crag[i].sport_rating %> </td>
        <% } %>

        <% if (crag[i].boulder_rating == null) { %>
            <td> N/A </td>
        <% } else { %>
            <td> <%= crag[i].boulder_rating %> </td>
        <% } %>

        <% if (crag[i].trad_rating == null) { %>
            <td> N/A </td>
        <% } else { %>
            <td> <%= crag[i].trad_rating %> </td>
        <% } %>

    </tr>
    <% } %>
</table>
<br />
<a href="/climbing_area/delete/?ca_num=<%= climbing_area[0].ca_num %>"> This climbing area doesn't actually exist? Click here to delete.</a>
<br />
<a href="/climbing_area/all"><< back</a>
<%- include("../includes/footer.ejs"); %>