<%- include("../includes/header.ejs", {title:"Add New Climbing Area"}); %>
<h1>Add New Climbing Area</h1>
<form action="/climbing_area/insert" method="get">
    Climbing Area Name: <input id="area_name" name="area_name" type="text" />
    <br />
    Approach Difficulty: <input id="approach_diff" name="approach_diff" type="text" />
    <br />
    Climbing Type: <input id="ca_cli_type" name="ca_cli_type" type="text" />
    <br />
    Address (location of parking area): <input id="address" name="address" type="text" />
    <br />
    Closest City
    <br />
    <select id="city_num" name="city_num" >
        <% for(var i=0; city.length > i; i++ ) { %>
        <option value="<%= city[i].city_num %>"><%= city[i].city_name %></option>
        <% } %>
    </select>
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>