<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/climbing_area/all">Go to Climbing Area</a>

    <br />

    <a href="/city/citySelect"> Search for climbing areas in your city. </a>

    <br/>

    <a href="/climber/selectClimber"> Returning User Log In</a>

    <br/>

    <a href="/climber/addNew"> New User Sign Up </a>

    <br/>
    <a href="/about/">About us</a>
<%- include("./includes/footer.ejs"); %>
