<%- include("../includes/header.ejs", {title:"boulder[0].b_name"}); %>
<h1>Boulder Climb: <%= boulder[0].b_name %></h1>
<ul>
    <li>Climb Name: <%= boulder[0].b_name %></li>
    <li>Grade: <%= boulder[0].b_grade %></li>
    <li>Rating: <%= boulder[0].b_rating %></li>
    <li>Summary: <%= boulder[0].b_summary %></li>
    <li>Can be found on <%= boulder[0].boulder_name %></li>
    <li>Additional Risk: <%= boulder[0].b_risk %></li>
    <li>Find this climb at <%= boulder[0].crag_name %>, <%= boulder[0].area_name %> </li>
</ul>

<a href="/crag/?cr_num=<%= boulder[0].cr_num %>"><< back</a>

<%- include("../includes/footer.ejs"); %>