<%- include("../includes/header.ejs", {title: "Update " + boulder[0].b_name}); %>

<h1>Update <%= boulder[0].b_name%></h1>
<form action="/boulder/update" method="get">
    <input type="hidden" id="b_num" name="b_num" value="<%= boulder[0].b_num %>">
    Climb Name: <input id="b_name" name="b_name" type="text" value="<%= boulder[0].b_name%>"/>
    <br />
    Grade: <input id="b_grade" name="b_grade" type="text" value="<%= boulder[0].b_grade%>"/>
    <br />
    Rating: <input id="b_rating" name="b_rating" type="number" value="<%= boulder[0].b_rating%>"/>
    <br />
    Summary: <input id="b_summary" name="b_summary" type="text" value="<%= boulder[0].b_summary%>"/>
    <br/>
    Boulder this route belongs to: <input id="boulder_name" name="boulder_name" type="text" value="<%= boulder[0].boulder_name %>"/>
    <br/>
    Risk (i.e. PG/R [if NA type "none"]): <input id="b_risk" name="b_risk" type="text" value="<%= boulder[0].b_risk%>"/>
    <br/>
    <input type="submit" />
</form>

<a href="/crag/?cr_num=<%= boulder[0].cr_num%>">Back to <%= boulder[0].crag_name%> Overview</a>

<%- include("../includes/footer.ejs"); %>

</html>