<%- include("../includes/header.ejs", {title:"About"}); %>
<html>
<h1>About us</h1>
<p>Crag Tracker is made for climbers to both track their own progress, and learn
    more about the climbing areas around them. As one clicks through the climbing
    areas they can dive deeper learning about the different sub-areas, and the numerous
    routes these crags contain. </p>
<p>This website was made by John Salman, an employee of the Sonoma State Climbing Wall
    and at this iteration is focused on climbing in the North Bay / Sonoma County area.
Climbing is my passion and I hope this website is representative of that passion. </p>
<a href="/images/updated_er_diagram.JPG">Link to ER Diagram</a>
<br/>
<a href="/images/updated_r_schema.JPG">Link to Relational Schema</a>
<br/>
<a href="/"><< back to home-page</a>
</html>
