<%- include("../includes/header.ejs", {title:"Add New Sport Route for " + crag[0].crag_name }); %>
<h1>Add New Sport Route for <%= crag[0].crag_name %></h1>
<form action="/sport/insert" method="get">
    <input type="hidden" id="cr_num" name="cr_num" value="<%= crag[0].cr_num %>">
    Route Name: <input id="s_name" name="s_name" type="text" />
    <br />
    Grade: <input id="s_grade" name="s_grade" type="text" />
    <br />
    Rating: <input id="s_rating" name="s_rating" type="number" />
    <br />
    Summary: <input id="s_summary" name="s_summary" type="text" />
    <br/>
    Number of bolts: <input id="num_bolts" name="num_bolts" type="number" />
    <br/>
    Risk (i.e. PG/R [if NA type "none"]): <input id="s_risk" name="s_risk" type="text" />
    <br/>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>