<%- include("../includes/header.ejs", {title: "Update " + sport[0].s_name}); %>

<h1>Update <%= sport[0].s_name%></h1>
<form action="/sport/update" method="get">
    <input type="hidden" id="s_num" name="s_num" value="<%= sport[0].s_num %>">
    Route Name: <input id="s_name" name="s_name" type="text" value="<%= sport[0].s_name%>"/>
    <br />
    Grade: <input id="s_grade" name="s_grade" type="text" value="<%= sport[0].s_grade%>"/>
    <br />
    Rating: <input id="s_rating" name="s_rating" type="number" value="<%= sport[0].s_rating%>"/>
    <br />
    Summary: <input id="s_summary" name="s_summary" type="text" value="<%= sport[0].s_summary%>"/>
    <br/>
    Number of Bolts: <input id="num_bolts" name="num_bolts" type="number" value="<%= sport[0].num_bolts%>"/>
    <br/>
    Risk (i.e. PG/R [if NA type "none"]): <input id="s_risk" name="s_risk" type="text" value="<%= sport[0].s_risk%>"/>
    <br/>
    <input type="submit" />
</form>

<a href="/crag/?cr_num=<%= sport[0].cr_num%>">Back to <%= sport[0].crag_name%> Overview</a>

<%- include("../includes/footer.ejs"); %>

</html>